<div >
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
      <p ui-sref="instituicao.main">
         <span class="glyphicon glyphicon-ok"></span> Notícias
      </p>
    </li>
    <li class="sidebar-brand">
      <p ui-sref="instituicao.doacoes">
       <span class="glyphicon glyphicon-heart-empty"></span> Doações 
      </p>
    </li>
    <li class="sidebar-brand">
      <p ui-sref="instituicao.conf">
        <span class="glyphicon glyphicon-cog"></span> Configurações
      </p>
    </li>
		<li class="sidebar-brand">
			<hr>
        <p ui-sref="doador.main">
					<span class="glyphicon glyphicon-user"></span> Carolina Ferreira 
        </p>
			<hr>
    </li>
	</ul>
</div>