<div>
	<ul class="menu-toggle-list">
		<li>
            <p ui-sref="doador.main">
                <span class="fa fa-newspaper-o" ng-click="close()"></span> Noticias
            </p>
        </li>
       <li>
            <p ui-sref="doador.doar">
		    	<span class="glyphicon glyphicon-heart-empty"></span> Doar
            </p>
        </li>
		 <li>
            <p ui-sref="doador.doacoes">
                <span class="glyphicon glyphicon-thumbs-up"></span> Doações
            </p>
        </li>
   		<li>
            <p ui-sref="doador.conf">
                <span class="glyphicon glyphicon-cog"></span> Configurações
            </p>
        </li>
    	<li>
			<hr>
            <p ui-sref="doador.addInstituicao">
                <span class="glyphicon glyphicon-home"></span>  Criar uma Intituição
            </p>
			<hr>	
        </li>
    </ul>
</div>