<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
            <a ui-sref="doador">
                <span class="fa fa-newspaper-o"></span> Noticias
            </a>
        </li>
        <li class="sidebar-brand">
            <a ui-sref="doador.doar">
		    	<span class="glyphicon glyphicon-heart-empty"></span> Doar
            </a>
        </li>
		 <li class="sidebar-brand">
            <a ui-sref="doador.doacoes">
                <span class="glyphicon glyphicon-thumbs-up"></span> Doações
            </a>
        </li>
   		<li class="sidebar-brand">
            <a ui-sref="doador.conf">
                <span class="glyphicon glyphicon-cog"></span> Configurações
            </a>
        </li>
    	<li class="sidebar-brand">
			<hr>
            <a ui-sref="doador.addInstituicao">
                <span class="glyphicon glyphicon-home"></span>  Criar uma Intituição
            </a>
			<hr>	
        </li>
    </ul>
</div>