       <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                   <div class="col-lg-2" style="margin-left:-35px;position:fixed">
					   <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
					</div>
				
				
				
			<div class="jumbotron">
			  <h2 class="text-center">Bem Vindo Instituição</h2>
			  <h4 class="text-center" style="color: #414141;"><small> Conte para nós, quais as novidades de hoje? </small></h4>
				<div class=" painel profile-info painel-info"> 
				<div class="fundo">
							<div class="row control-group">
								<div class="form-group col-xs-12 floating-label-form-group controls">
									<label>Titulo da Noticia</label>
									<input type="text" class="form-control" placeholder="Titulo da Noticia" id="NamedaInst" style="padding: 0.8em">
									<p class="help-block text-danger"></p>
								</div>
							</div>
							
							<div class="row control-group">
								<div class="form-group col-xs-12 floating-label-form-group controls">
									<label>Descrição do Produto</label>
									<textarea class="form-control" placeholder="Descrição do produto" style="padding: 0.8em; borderr"></textarea>
									<p class="help-block text-danger"></p>
								</div>
							</div>
							</div>
							<div class="panel-footer">
								<button type="button" class="btn btn-default pull-right">Publicar</button>
							</div>
			
		</div>
	</div>
				
		<div class="media-body">
				  <h4 class="media-heading">Quermesse 2016 – “Divertida como toda festa de família”</h4>
				  <p id='post-1' class="conteudo-post"> Data: 29/04 a 26/06/2016, incluindo dia 26/05/2016 (Feriado de Corpus Christi)
						Horário: Sextas e sábados – das 18h30 a meia-noite. 
											 Domingos e feriado – das 18h30 as 22h.
						Valor do ingresso: R$ 3,00 
						Não pagam: Crianças abaixo de 10 anos acompanhadas de um adulto e idosos acima de 60 anos.
						Público aproximado em 2015 : Em torno de 58 mil pessoas passaram no evento que é familiar. </p>
				
						<img  src="../img/quermece.png" alt="...">
				</div>
				  </li> 		
				<div class="btn-group btnprof row" role="group" aria-label="...">
					<div class="col-md-12">
						<div class="dropup">
						  <button type="button" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-cog glyphicon "></span>
						  </button>
						  
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li><a href="#">Alterar</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Excluir</a></li>
						  </ul>
						
						  <button type="button" class="btn btn-default" onclick="verMais('post-3')">Ver Mais</button>
						  <button type="button" class="btn btn-default">Doar</button>
						</div>
					</div> 
				</div>	
			</ul>
				

					<ul class="media-list fundo">
			  <li class="media">
				<div class="media-left">
				  <a href="#">
					<img class="media-object est" src="../img/img.jpg" alt="...">
				  </a>
				</div>
				<div class="media-body">
				  <h4 class="media-heading">23ª Tainha da Gota</h4>
				  <p id='post-2' class="conteudo-post">  Dias: 20, 21, 27 e 28 de agosto de 2016.
					  Horário: sábados – 12h às 23h e domingos – 12h às 17h
					  Público aproximado em 2015: 4 mil pessoas.
					  Valor do ingresso: a definir.
					  Não pagam: Crianças abaixo de 10 anos acompanhadas de um adulto.

					  Característica do evento: Festa voltada a família que gosta de uma tainha na grelha, a famosa farofa de       camarão, arroz, molho à vinagrete. </p>
					  
					  <img  src="../img/tainha.jpg" alt="...">
				
			
				
				</div>
			  </li> 		
				<div class="btn-group btnprof row" role="group" aria-label="...">
					<div class="col-md-12">
						<div class="dropup">
						  <button type="button" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-cog glyphicon "></span>
						  </button>
						  
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li><a href="#">Alterar</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Excluir</a></li>
						  </ul>
						
						  <button type="button" class="btn btn-default" onclick="verMais('post-3')">Ver Mais</button>
						  <button type="button" class="btn btn-default">Doar</button>
						</div>
					</div> 
				</div>						
			</ul>
			
			
				<ul class="media-list fundo">
			  <li class="media">
				<div class="media-left">
				  <a href="#">
					<img class="media-object est" src="../img/img.jpg" alt="...">
				  </a>
				</div>
				<div class="media-body">
				  <h4 class="media-heading">VII Feijoada da Gota</h4>
				  <p id='post-3' class="conteudo-post"> Dias: 29/10/2016
						Horário: sábado – 12h às 17h
						Música ao vivo: Grupo Ouro Verde 
						Público aproximado em 2015: 500 pessoas.
						Valor do ingresso: a definir.
						Não pagam: Crianças abaixo de 10 anos acompanhadas de um adulto.
						Característica do evento: Festa voltada para a família que gosta de uma feijoada saborosa e completa, com som ao vivo.. </p>
						
						 <img src="../img/feijoada.png" alt="...">
				</div>
			  </li> 		
				<div class="btn-group btnprof row" role="group" aria-label="...">
					<div class="col-md-12">
						<div class="dropup">
						  <button type="button" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-cog glyphicon "></span>
						  </button>
						  
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<li><a href="#">Alterar</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Excluir</a></li>
						  </ul>
						
						  <button type="button" class="btn btn-default" onclick="verMais('post-3')">Ver Mais</button>
						  <button type="button" class="btn btn-default">Doar</button>
						</div>
					</div> 
				</div>	
			</ul>				
				
				
			 <!-- Paginação -->	
			<div class="col-lg-12" style="margin-top: 20px;">			 
					<nav>
					  <ul class="pagination  disp">
						<li>
						  <a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						  </a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
						  <a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						  </a>
						</li>
					  </ul>
					</nav>
					</div>   
					   
					   
					   
					   
					   
                    </div>
                </div>
            </div>
        
	 
	 
  