
<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Nosso Email</h3>
                        <p>help.us@outlook.com.br</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Siga Nossas Redes Sociais</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                           
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Sobre</h3>
                        <p>Software de Distribuição de Donativos</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                         Help Us 2016
                    </div>
                </div>
            </div>
        </div>
</footer>