<div id="sidebar-wrapper">
					
					<ul class="sidebar-nav">
				 <li class="sidebar-brand">
                    <a href="feed.html">
                      <span class="fa fa-newspaper-o"></span> Notícias
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a href="doacao.html">
					<span class="glyphicon glyphicon-heart-empty"></span> Doar
                    </a>
                </li>
				 <li class="sidebar-brand">
                    <a href="realdoa.html">
                     <span class="glyphicon glyphicon-thumbs-up"></span> Doações
                    </a>
                </li>
     
				<li class="sidebar-brand">
                    <a href="conf.html">
                     <span class="glyphicon glyphicon-cog"></span> Configurações
                    </a>
                </li>
				<li class="sidebar-brand">
				<hr>
                    <a href="criainst.html">
                      <span class="glyphicon glyphicon-home"></span>  Gota de Leite
                    </a>
				<hr>	
                </li>
            </ul>
        </div>
		
		
		
		