<nav class="navbar navbar-default navbar-fixed-top">
    <div id="topo" class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Help Us</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Help Us</a>
        </div> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
            <form class="navbar-form navbar-right" role="search">
				<div class="form-group">
		     	    <input type="text" class="form-control" placeholder="Buscar">
				</div>	
				<div style="float:right; margin-left:10px">
					    <a class="btn btn-primary" ng-click="logout()">Sair</a>
				</div>
			</form>
        </div>			
    </div>     
</nav>
<span style="height:140px;" class="col-xs-12 col-sm-12 col-md-12"></span>
<div style="position:fixed;top:110px;right: 0px;z-index:2">
    <a ng-click="toggleRight()" ng-hide="isOpenRight()" class="btn btn-default"> 
       <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
    </div>
<div ui-view></div>