<div ng-controller="cadastroCtrl" class="div-up">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2">
						<div class="modal-body">
							<h2 style="text-align:center">Cadastro</h2>
							<hr class="star-primary">
							<br>
						</div>
					</div>
					<div class="col-lg-2 col-sm-2 btnClose">
						<a href="#">
							<i class="fa fa-times fa-4x" aria-hidden="true"></i>
						</a>
					</div>
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							É valido: {{cadastroForm.$valid}} <br/>
							É invalido: {{cadastroForm.$invalid}} <br/>
							<form name="cadastroForm">
							
								<!-- Input Nome-->
								<md-input-container class="md-block row control-group form-group col-xs-12 floating-label-form-group controls">
        							<label>Nome Completo</label>
									<input required="true" class="form-control" name="nome" placeholder="Nome Completo" ng-pattern="/^[a-zA-ZÀ-Úà-ú]+[ ][a-zA-ZÀ-Úà-ú ]+$/" ng-model="user.nome" ng-maxlength="100">
       						 		<p class="help-block text-danger"></p>
       						 		<div ng-if="cadastroForm.nome.$invalid && cadastroForm.nome.$dirty" class="col-sm-12 col-md-12 alert alert-danger"> 
       						 			<div ng-show="cadastroForm.nome.$error.required">Por favor, preencha o campo nome!</div>
       									<div ng-show="cadastroForm.nome.$error.pattern">Informe o nome social completa.</div>
              							<div ng-show="cadastroForm.nome.$error.maxlength">Nome muito longo!</div>
       						 		</div>
     							</md-input-container>
								 
								<!-- Input Data de Nascimento !!!refazer-->
								<div class="row control-group">
									<md-datepicker ng-model="user.nascimento" md-placeholder="Enter date"></md-datepicker>
								</div>
								
								<!-- Input Email-->
								<md-input-container class="md-block row control-group form-group col-xs-12 floating-label-form-group controls">
									
										<label>Email</label>
										<input ng-pattern="/^[^0-9][a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[@][a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,4}$/" type="email" ng-model="user.email" class="form-control" placeholder="Email" name="email" required="true">
									<div ng-if="cadastroForm.email.$invalid && cadastroForm.email.$dirty" class="col-sm-12 col-md-12 alert alert-danger">
									<div ng-show="cadastroForm.email.$error.required">Por favor, preencha e-mail!</div>
									<div ng-show="cadastroForm.email.$error.pattern">Por favor, informe um e-mail válido.</div>
									</div>
								</md-input-container>
							
								<!-- Input Senha -->
								<md-input-container class="md-block row control-group form-group col-xs-12 floating-label-form-group controls">
									<label>Senha</label>
									<input name="senha" ng-model="user.senha"  type="password" placeholder="Senha" class="form-control input-md senha" required="true" ng-minlength="8" ng-maxlenght="20">
									<div ng-show="cadastroForm.senha.$invalid && cadastroForm.senha.$dirty" class="col-sm-12 col-md-12 alert alert-danger">
									<span ng-show="cadastroForm.senha.$error.required">Por favor, preencha o campo Senha Padrão!</span>
									<span ng-show="cadastroForm.senha.$error.minlength">O campo nome deve ter no mínimo 8 a 20 caracteres.</span>
									<span ng-show="cadastroForm.senha.$error.maxlength">Senha muito longa!</span>
									</div>
								</md-input-container>
								
								<!-- Input SEXO-->
								<div class="form-group">
                                	<form required="true">
										<label class="col-md-4 control-label checkTitleLabel text-left" for="sexo">Gênero</label>
										<div class="col-md-6"> 
    										<input type="radio" class="checkbox checkboxSexo" name="sexo" id="sexoMasculino" value="M" checked="checked" style="margin: .7em 0;" ng-model="user.sexo">
                                    		<label for="sexoMasculino" class="checkboxLabel">Masculino</label>
                                    		<input type="radio" class="checkbox checkboxSexo" name="sexo" id="sexoFeminino" value="F" style="margin: .7em 0;" ng-model="user.sexo">
                                    		<label for="sexoFeminino" class="checkboxLabel">Feminino</label>
                                    		<input type="radio" class="checkbox checkboxSexo" name="sexo" id="sexoOutros" value="O" style="margin: .7em 0;" ng-model="user.sexo">
                                     		<label for="sexoOutros" class="checkboxLabel">Outros</label>
                                     	</div>
                             		</form>
								</div>
								
								<legend></legend>
									
								<!-- Titulo 1ª parte-->
								<legend></legend>
								<h3>Contatos</h3>
									
								<!-- inputs Telefones -->
								<div class="row control-group">
										<div class="form-group col-xs-8 col-sm-10 col-md-10 floating-label-form-group controls">
											<label> Telefones</label>
											<input id="telefone1" ng-model="user.contato1" name="telefone1" type="text" placeholder="Telefone" class="form-control input-md phone_with_ddd" ui-br-phone-number="ui-br-phone-number">
										</div>
										<div>
											   <button type="button" class="form-group btn btn-info " name="btnAdd" onclick="addTel()" style="height:50px;margin-top:25px;"><i class="glyphicon glyphicon-plus"></i></button>
										</div>
										<div ng-if="cadastroForm.telefone1.$invalid && cadastroForm.telefone1.$dirty" class="col-sm-12 col-md-12 alert alert-danger">
											<div ng-show="cadastroForm.telefone1.$error.required">Por favor, preencha o campo Telefone!</div>
											<div ng-show="cadastroForm.telefone1.$error.pattern">Informe um telefone valido. </div>
											<div ng-show="cadastroForm.telefone1.$error.brPhoneNumber">Campo telefone deve ter o formato (DD) DDDDD-DDDD.</div>
											</div>
										<div class="form-group col-xs-8 col-sm-10 col-md-10 floating-label-form-group controls">
											<label> Telefones</label>
											<input id="telefone2" name="telefone2"  ng-model="user.2" type="text" placeholder="Telefone" class="form-control input-md phone_with_ddd" ui-br-phone-number="ui-br-phone-number" >
										</div>
										<div>
                                            <button type="button" class="form-group btn btn-danger " name="btnAdd" onclick="addTel()" style="height:50px;margin-top:25px;"><i class="glyphicon glyphicon-trash"></i></button>
										</div>
									
										<div class="form-group col-xs-8 col-sm-10 col-md-10 floating-label-form-group controls">
											<label> Telefones</label>
											<input id="telefone3" name="telefone3" ng-model="user.contato3" type="text" placeholder="Telefone" class="form-control input-md phone_with_ddd"  ui-br-phone-number="ui-br-phone-number" >
										</div>
										<div>
                                            <button type="button" class="form-group btn btn-danger " name="btnAdd" onclick="addTel()" style="height:50px;margin-top:25px;"><i class="glyphicon glyphicon-trash"></i></button>
										</div>
									
										<div class="form-group col-xs-8 col-sm-10 col-md-10 floating-label-form-group controls">
											<label> Telefones</label>
											<input id="telefone4" name="telefone4"  ng-model="user.contato4" type="text" placeholder="Telefone" class="form-control input-md phone_with_ddd"  ui-br-phone-number="ui-br-phone-number">
										</div>
										<div>
											<button type="button" class="form-group btn btn-danger " name="btnAdd" onclick="addTel()" style="height:50px;margin-top:25px;"><i class="glyphicon glyphicon-trash"></i></button>
										</div>
									</div>
								
								<!-- Título 2ª parte -->
								<h3>Endereço</h3>
									
								<!-- input CEP -->
								<div class="row control-group">
									<div class="form-group col-xs-12 floating-label-form-group controls">
										<label>CEP</label>
									  	<input id="cep" name="cep" required="true"; ng-model="endereco.cep" ng-keyup="pegaCep()" type="text" placeholder="CEP" class="form-control input-md" maxlength="8"   onblur="pesquisacep(this.value);" ui-br-cep-mask>
									</div>
									<div ng-if="cadastroForm.cep.$invalid && cadastroForm.cep.$dirty" class="col-sm-12 col-md-12 alert alert-danger">
									<div ng-show="cadastroForm.cep.$error.required">Por favor, informe o CEP.</div>
									</div>
								</div>
									
								<!-- input Estados -->
								<div class="row control-group">
									<div class="form-group col-xs-12 floating-label-form-group controls">
										<label>Estado</label>
										<input ng-model="endereco.estado" id="estado" name="estado" type="text" placeholder="Estado" class="form-control input-md" size="30" >						
									</div>
								</div>
									
								<!-- input Cidade -->
								<div class="row control-group">
									<div class="form-group col-xs-12 floating-label-form-group controls">
										<label>Cidade</label>
										<input ng-model="endereco.cidade" id="cidade" name="cidade" type="text" placeholder="Cidade" class="form-control input-md"  size="25" >
									</div>
								</div>
									
								<!-- input Bairro -->
								<div class="row control-group">
									<div class="form-group col-xs-12 floating-label-form-group controls">
										<label>Bairro</label>
									  	<input id="bairro" ng-model="endereco.bairro" name="bairro" type="text" placeholder="Bairro" class="form-control input-md" size="25" >
									</div>
								</div>
									
								<!-- Input Endereço -->
								<div class="row control-group">
									<div class="form-group col-xs-12 floating-label-form-group controls">
										<label>Endereço</label>
										<input id="endereco" ng-model="endereco.endereco" name="endereco" class="form-control" placeholder="Endereço" type="text" size="45">
									</div>
								</div>
									
								<!-- input Numero -->
								<div class="row control-group">
									<div class="form-group col-xs-12 floating-label-form-group controls">
										<label>Numero</label>
									  	<input id="numero" name="numero" ng-model="endereco.numero" type="text" placeholder="Numero" class="form-control input-md" size="5" >
									</div>
								</div>
									  
								<!-- input Complemento -->	  
								<div class="row control-group">
									<div class="form-group col-xs-12 floating-label-form-group controls">
										<label>Complemento</label>
								  		<input id="complemento" name="complemento" ng-model="endereco.complemento" type="text" placeholder="Complemento" class="form-control input-md" >
								  	</div>
								</div>

								<!-- Divisoria Checked Termo-->
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body"></div>
								
									<!-- Checked Voluntário -->
									<div class="form-group col-md-12 ">
										<input type="checkbox" name="termo" id="termo" value="S">
										<label class="termoLabel" for="termo">Concordo com os termos de utilização do software <a href="termo.html">descritos aqui.</a>  </label>
									</div>
								</div>
								
								<!-- Divisoria Button-->
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body"></div>	
									
									<!-- Button -->
									<div class="form-group">
										
										<div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
								  			<a href="#" type="reset" id="btnEnviar" name="btnEnviar" class="btn btn-info btn-block">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</a>
										</div>
									  
										<div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
											<button type="submit" id="confirm" name="confirm" class="btn btn-info btn-block" value='false'>Enviar</button>
										</div>
										
									</div>
										
								</div>
									
							</form>	
						</div>
					</div>
					
				<span class="col-md-12 col-sm-12" style="height:50px;"></span>
				</div>
			</div>
		</div>
</div>